 <footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h3>Catégorie</h3>
                <ul>
                    <li><a href="#" class="text-light">Revues</a></li>
                    <li><a href="#" class="text-light">Recettes</a></li>
                    <li><a href="#" class="text-light">Découverte</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <h3>Archives</h3>
                <ul>
                    <li><a href="#" class="text-light">2019</a></li>
                    <li><a href="#" class="text-light">2018</a></li>
                    <li><a href="#" class="text-light">2017</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                <form>
                    <div class="row row_newsletter">
                        <div class="form-group">
                            <div class="col-12">
                                <h6>Newsletter</h6>
                                <div class="input-group-append">
                                    <input type="Email" class="form-control" id="inputEmail" placeholder="Email...">
                                    <button type="submit" class="btn btn-primary bg-dark mb-6">S'inscrire</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row row_partager">
                    <div class="col-12">
                        <h6>Partager</h6>
                        <a href="#"><i class="fab fa-facebook text-light fa-2x"></i></a>
                        <a href="#"><i class="fab fa-instagram text-light fa-2x"></i></a>
                        <a href="#"><i class="fab fa-youtube text-light fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter text-light fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>