 <header>
    <div class="filter">
        {{> nav }}
        
        {{#if img }}
        <img src="{{img}}" alt="logo de cuiz'ine" />
        {{/if }}

        <h1> {{title}} </h1>

        {{#if subtitle }}
        <h2> {{subtitle}} </h2>
        {{/if}}

    </div>
</header>