<!DOCTYPE html>
<html>

<head>
    <title>Cuisine</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet">
        <link rel="stylesheet" type='text/css' href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type='text/css' href="/css/all.min.css"/>
        <link rel="stylesheet" type='text/css' href="/css/main.css"/>
        <link rel="stylesheet" type='text/css' href="/css/{{ url }}.css"/> 


</head>
<body>
 
    {{> nav }}
    {{> header }}
    {{{ body }}}
    {{> footer }}
  

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/homepage.js"></script>
</body>
</html>