
    <div class="container first-info">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h2>Contact</h2>
                <div class="col-12 offset-lg-2 col-lg-6 adress">
                    <h3>Adresse</h3>
                    <p>Station F</p>
                    <p>5 Parvis Alan Turing</p>
                    <p>75013 Paris</p>
                </div>
                
                <div id="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6181.606910266169!2d2.3645894137280496!3d48.835142044909425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67222208823cf%3A0x541ecb63365de48!2sSTATION+F!5e0!3m2!1sfr!2sfr!4v1548686387276" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="d-none d-lg-block col-lg-3">
                <form class="formulaire">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="title-social-icons">Recherche</label>
                        <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">Ok</button> 
                    </div>
                    <div class="form-group"> 
                        <label for="Email" class="title-social-icons">Newsletter</label>   
                        <input class="form-control" type="email" placeholder="Email..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">S'inscrire</button> 
                    </div>
                </form>
                    <h6 class="title-social-icons">Partager</h6>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>               
    <!--Google map-->



