

<section class="container">
    <h2 class="text-center">Derniers articles</h2>
    <div class="row">
        <div class="col-lg-9">
            <div class="row post1">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <img id="zebre" src="img/articles/suzette/suzette-small.jpg" class="img-fluid" alt="suzette" />
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9">
                    <h3 class="titre" class="text-dark"><a href="/recipe" class="text-dark">Chez Suzette, la nouvelle crêperie qui fait parler d'elle</a></h3>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                </div>
            </div>
            <!--suzette post-->
            <div class="row post2">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <img src="/img/articles/metro/metro-small.jpg" class="img-fluid" alt="metro" />
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <h3 class="titre"><a href="/recipe" class="text-dark">Le Métro dessert</a></h3>
                    <p>Germain est ferrovipathe (ndlr:fan de train), son fils Maxime est pâtissier. Ils ont décidé de réunir leur deux passions dans un restaurant à la déco inspiré du métro parisien. A voir absolument, mais qu'en est-il d'y aller pour
                        manger ? Clémentine entre en gare et nous donne son avis.</p>
                </div>
            </div>
            <!--metro post-->
            <div class="row post3">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <img src="/img/articles/vitaly/vitaly-small.jpg" class="img-fluid" alt="vitaly" />
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <h3 class="titre"><a href="/recipe" class="text-dark">Vitaly, le végan italien</a></h3>
                    <p>Quand on pense italien, on pense lasagne et jambon de Parme. Ils l'ont fait, les saveurs de l'Italie à portée des herbivores. Cette fois, c'est moi Tony qui vais le tester pour vous.</p>
                </div>
            </div>
        </div>
        <!--vitaly post-->
        <div class="d-none d-lg-block col-lg-3">
            <aside>
                <form class="">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="title-social-icons">Recherche</label>
                        <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">Ok</button>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="title-social-icons">Newslettre</label>
                        <input class="form-control" type="email" placeholder="Email..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">S'inscrire</button>
                    </div>
                </form>
                <div>
                    <h6 class="title-social-icons">Partager</h6>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-twitter"></i></a>
                </div>
        </div>
    </div>
    <div class="suite">
        <a href="#"><p>Voir les articles précédents</p></a>
    </div>
</section>
<!--container-post-->
