{{!-- {{> nav }}
{{> header }} --}}

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <h2>Intro</h2>
                    <p><span class="lettrine">L</span>a franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                    <h2>Développement</h2>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                    <h2>Conclusion</h2>
                    <p>La franchise "Chez Suzette" qui fait un carton chez les bretons ouvre son premier restaurant à Paris dans le quartier latin. Antoine de Cui'zine a testé pour vous les saveurs sucrés, salés au froment ou au sarrazin!</p>
                </div>

                <div class="row">
                    <div class="d-none d-lg-block col-12">
                            <form class="formulaire">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="title-social-icons">Recherche</label>
                                    <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
                                    <button class="btn bg-blanc btn-block border border-dark" type="submit">Ok</button> 
                                </div>
                                <div class="form-group"> 
                                    <label for="Email" class="title-social-icons">Newsletter</label>   
                                    <input class="form-control" type="email" placeholder="Email..." aria-label="Search">
                                    <button class="btn bg-blanc btn-block border border-dark" type="submit">S'inscrire</button> 
                                </div>
                            </form>
                                <h6 class="title-social-icons">Partager</h6>
                                <a href="#" class="mr-3 text-dark"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" class="mr-3 text-dark"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="mr-3 text-dark"><i class="fab fa-youtube"></i></a>
                                <a href="#" class="mr-3 text-dark"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>

                    <div class="col-12 col-lg-9">
                    <div class="row apropos">
                        <div class="col-4 col-lg-4">
                            <div class="antoine">
                                <a href="/team-member">
                                <img src="/img/team/antoine.jpg" alt="photo_antoine" class="img-fluid rounded-circle"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-8 col-lg-8">
                            <h3>À propos de l'auteur</h3>  
                            <p>Antoine a découvert la nourriture dès le plus jeune âge, depuis il est fan. Ce qu'il préfére dans la cuisine c'est faire la vaisselle</p>
                        </div>
                    </div>
                    </div>

                    <div class="col-12 offset-lg-2 col-lg-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="courgette">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Votre email...">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="courgette">Nom</label>
                            <input type="nom" class="form-control" id="exampleFormControlInput1" placeholder="Votre nom...">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="courgette">Commentaire</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Votre commentaire..."rows="6"></textarea>
                        </div>
                    </form>
                    </div>
                    <!--forms-->
                    <div class="offset-1 col-11 col-lg-9">
                        <h2>Dîtes nous ce que vous en avez pensé</h2>
                        <div class="row">
                            <div class="col-1.5">
                                <img src="/img/logo_square_black.png" alt="logo_fourchette_black" class="logo_fourchette_black"/>
                            </div>
                            <div class="col-9 col-lg-9">
                                <h3>Mathieu</h3>
                                <p>J'ai testé moi aussi, et j'ai été agréablement surpris.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-1.5">
                                <img src="/img/logo_square_black.png" alt="logo_fourchette_black" class="logo_fourchette_black"/>
                            </div>
                            <div class="col-9 col-lg-9">
                                <h3>Suzette</h3>
                                <p>Merci pour votre revue excellente. Toute les personnes qui viendront qu'elles ont connu le restaurant grâce à cet artcile auront un dessert gratuit. Excellente journée à vous!</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-1 col-1.5">
                                <img src="/img/logo_square_black.png" alt="logo_fourchette_black" class="logo_fourchette_black gray"/>
                            </div>
                            <div class="col-6 col-lg-6">
                                <h3>Haterz</h3>
                                <p>Ça sent le coup marketing à plein nez!</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <!--container-->
    

{{!-- {{> footer }} --}}
