{{!-- {{> nav }}
{{> header }} --}}

<div class="container">
    <div class="row row-global">
        <div class="col-12 col-md-6 col-lg-3 tony">
            <img src="/img/team/tony.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="tony">
            <h2 class="text-center">Tony</h2>
            <p class="text-center">Rédacteur en chef</p>
        </div>

        <div class="col-12 col-md-6 col-lg-3 tony">
            <img src="/img/team/clementine.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="clémentine">
            <h2 class="text-center">Clémentine</h2>
            <p class="text-center">Journaliste culinaire</p>
        </div>

        <div class="col-12 col-md-6 col-lg-3 tony">
            <img src="/img/team/antoine.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="antoine">
            <a href = '/team-member'>
                <h2 class="text-center">Antoine</h2>
                <p class="text-center">Gouteur professionnel</p>
            </a>
        </div>

        <div class="d-none d-lg-block col-lg-3">
                <div class="row">
                <form class="formulaire">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="title-social-icons">Recherche</label>
                        <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">Ok</button> 
                    </div>
                    <div class="form-group"> 
                        <label for="Email" class="title-social-icons">Newslettre</label>   
                        <input class="form-control" type="email" placeholder="Email..." aria-label="Search">
                        <button class="btn bg-blanc btn-block border border-dark" type="submit">S'inscrire</button> 
                    </div>
                </form>
                <div> 
                    <h6 class="title-social-icons">Partager</h6>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="mr-3 text-dark"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div> 

        <div class="col-12 col-md-6 col-lg-3">
            <img src="/img/team/tony.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="tony">
            <h2 class="text-center">Tony</h2>
            <p class="text-center">Rédacteur en chef</p>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <img src="/img/team/clementine.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="clémentine">
            <h2 class="text-center">Clémentine</h2>
            <p class="text-center">Journaliste culinaire</p>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <img src="/img/team/antoine.jpg" class="rounded-circle img-fluid mx-auto d-block" alt="antoine">
            <a href = '/team-member'>
                <h2 class="text-center">Antoine</h2>
                <p class="text-center">Gouteur professionnel</p>
            </a>
        </div>
    </div>      
</div>
<!--Google map-->

{{!-- {{> footer }} --}}
